<div class="w-full lg:flex lg:gap-x-16 lg:px-8 lg:mt-4">
  <%= render 'sidebar' %>

  <div class="px-4 py-16 py-20 lg:py-0 sm:px-6 lg:flex-auto lg:px-0">
    <div class="mx-auto max-w-2xl space-y-16 sm:space-y-20 lg:mx-0 lg:max-w-none">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t '.profile.title' %></h2>
        <p class="mt-1 text-sm leading-6 text-gray-500"><%= t '.profile.description' %></p>

        <%= form_with model: current_user, class: 'md:col-span-2 mt-6 space-y-6 border-t border-gray-200 text-sm leading-6' do |f| %>
          <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6 pt-6">
            <div class="col-span-full flex items-center gap-x-8">
              <% if current_user.image.present? %>
                <%= image_tag current_user.image, alt: '', class: 'h-20 w-20 flex-none rounded-lg bg-gray-800 object-cover' %>
              <% else %>
                <span class="inline-block h-20 w-20 overflow-hidden rounded-lg bg-gray-100">
                  <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                  </svg>
                </span>
              <% end %>
              <div>
                <button type="button" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"><%= t '.profile.change_profile_image' %></button>
                <p class="mt-2 text-xs leading-5 text-gray-400"><%= t '.profile.jpg_or_png_and_less_than_1mb' %></p>
              </div>
            </div>

            <div class="col-span-full">
              <%= f.label :name, t('.profile.name', class: 'block text-sm font-medium leading-6 text-gray-900') %>
              <div class="mt-2">
                <%= f.text_field :name, class: 'block w-full rounded-md border-0 bg-white/5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6' %>
              </div>
            </div>

            <div class="col-span-full">
              <%= f.label :email, t('.profile.email', class: 'block text-sm font-medium leading-6 text-gray-900') %>
              <div class="mt-2">
                <%= f.text_field :email, disabled: true, class: 'block w-full rounded-md border-0 bg-gray-200 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6' %>
              </div>
            </div>

            <div class="col-span-full">
              <label for="timezone" class="block text-sm font-medium leading-6 text-gray-900"><%= t '.profile.language' %></label>
              <div class="mt-2">
                <select id="timezone" name="timezone" class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 [&_*]:text-black">
                  <option>한국어</option>
                  <option>English</option>
                </select>
              </div>
            </div>
          </div>

          <div class="mt-8 flex">
            <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"><%= t '.save' %></button>
          </div>
        <% end %>
      </div>

      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t '.delete_account.title' %></h2>
        <p class="mt-1 text-sm leading-6 text-gray-500"><%= t '.delete_account.description' %></p>

        <form class="flex items-start md:col-span-2 border-t border-gray-200 mt-6 pt-6">
          <button type="submit" class="rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-400"><%= t '.delete_account.delete' %></button>
        </form>
      </div>
    </div>
  </div>
</div>
