<div class="w-full lg:flex lg:gap-x-16 lg:px-8 lg:mt-4">
  <%= render 'sidebar' %>

  <div class="px-4 py-16 py-20 lg:py-0 sm:px-6 lg:flex-auto lg:px-0">
    <div class="mx-auto max-w-2xl space-y-16 sm:space-y-20 lg:mx-0 lg:max-w-none">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t '.profile.title' %></h2>
        <p class="mt-1 text-sm leading-6 text-gray-500"><%= t '.profile.description' %></p>

        <%= form_with model: current_user, url: user_registration_path, class: 'md:col-span-2 mt-6 space-y-6 border-t border-gray-200 text-sm leading-6' do |f| %>
          <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6 pt-6">
            <div class="col-span-full flex items-center gap-x-8" data-controller="image-preview">
              <% if current_user.avatar.present? %>
                <%= image_tag current_user.avatar, alt: '', class: 'h-20 w-20 flex-none rounded-lg bg-gray-100 object-cover', data: { target: 'image-preview.output' } %>
              <% else %>
                <%= image_tag image_path('default_avatar.svg'), alt: '', class: 'h-20 w-20 flex-none rounded-lg bg-gray-100 object-cover text-gray-300 fill-current', data: { target: 'image-preview.output' } %>
              <% end %>
              <div>
                <%= f.label :avatar, t('.profile.change_profile_image'), class: 'cursor-pointer rounded-md bg-indigo-600 px-3 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500' %>
                <%= f.file_field :avatar, direct_upload: true, class: 'sr-only', data: { target: 'image-preview.input', action: 'image-preview#readURL' } %>
                <p class="mt-2 text-xs leading-5 text-gray-400"><%= t '.profile.jpg_or_png_and_less_than_1mb' %></p>
              </div>
            </div>

            <div class="col-span-full">
              <%= f.label :name, t('.profile.name', class: 'block text-sm font-medium leading-6 text-gray-900') %>
              <div class="mt-2">
                <%= f.text_field :name, class: 'block w-full rounded-md border-0 bg-white/5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6' %>
              </div>
            </div>

            <div class="col-span-full">
              <%= f.label :email, t('.profile.email', class: 'block text-sm font-medium leading-6 text-gray-900') %>
              <div class="mt-2">
                <%= f.text_field :email, disabled: true, class: 'block w-full rounded-md border-0 bg-gray-200 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6' %>
              </div>
            </div>

            <div class="col-span-full">
              <%= f.label :locale, t('.profile.language'), class: 'block text-sm font-medium leading-6 text-gray-900' %>
              <div class="mt-2">
                <%= f.select :locale,
                             setting_language_and_locale_options,
                             {},
                             class: 'block w-full rounded-md border-0 bg-white/5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 [&_*]:text-black' %>
              </div>
            </div>
          </div>

          <div class="mt-10 flex">
            <%= f.submit t('.save'), class: 'rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 cursor-pointer' %>
          </div>
        <% end %>
      </div>

      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t '.delete_account.title' %></h2>
        <p class="mt-1 text-sm leading-6 text-gray-500"><%= t '.delete_account.description' %></p>

        <div class="flex items-start md:col-span-2 border-t border-gray-200 mt-6">
          <%= button_tag t('.delete_account.delete'),
                         class: 'rounded-md bg-red-500 mt-10 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-400 cursor-pointer',
                         data: { controller: 'modal', modal_dialog_param: 'delete_confirm_modal', action: 'click->modal#open' }%>
        </div>

        <dialog id="delete_confirm_modal" class="rounded-lg">
          <div class="relative transform overflow-hidden bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:w-full sm:max-w-lg sm:p-6">
            <div class="sm:flex sm:items-start">
              <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                </svg>
              </div>
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3 class="text-base font-semibold leading-6 text-gray-900"><%= t '.delete_account.title' %></h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500"><%= t '.delete_account.detail_description_html' %></p>
                </div>
              </div>
            </div>
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
              <%= button_to t('.delete_account.delete'),
                            user_registration_path,
                            method: :delete,
                            class: 'inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto' %>
              <form method="dialog">
                <button type="submit" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
                  <%= t '.delete_account.cancel' %>
                </button>
              </form>
            </div>
          </div>
        </dialog>
      </div>
    </div>
  </div>
</div>
