<%# locals: (paging: true) %>

<% if @links.present? %>
  <ul role="list">
    <%= turbo_frame_tag 'links', data: { turbo_action: 'advance' }, class: 'grid grid-cols-1 gap-6 xl:grid-cols-2 mt-10 sm:mt-14' do %>
      <%= render @links %>
    <% end %>
  </ul>

  <% if paging %>
    <div class="flex justify-center mt-8 lg:mt-16 w-full">
      <%== pagy_nav @pagy, link_extra: 'data-turbo-action="advance"' %>
    </div>
  <% end %>
<% else %>
  <div class="text-center mt-10 sm:mt-14">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
    </svg>
    <h3 class="mt-2 text-sm font-semibold text-gray-900"><%= t('.not_exist') %></h3>
    <p class="mt-1 text-sm text-gray-500"><%= t('.get_started_by_adding_a_new_link') %></p>
    <div class="mt-6">
      <%= link_to new_link_path, class: 'inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' do %>
        <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        <%= t('.new_link') %>
      <% end %>
    </div>
  </div>
<% end %>
