<%= turbo_frame_tag link, class: 'h-full', target: '_top' do %>
  <li class="col-span-1 flex flex-col rounded-lg shadow h-full <%= link.read? && link.user_id == current_user&.id ? 'bg-slate-100' : 'bg-white' %>">
    <%= link_to link_path(link), class: 'flex flex-1 flex-col items-center px-6 sm:px-8 pt-6 sm:pt-8 h-80' do %>
      <% if link.completed? %>
        <div class="w-full h-32 bg-white/30 bg-center" style="background-image: url('<%= link_image(link.image_url) %>');">
          <div class="w-full h-full backdrop-blur-md flex justify-center items-center">
            <%= image_tag link_image(link.image_url), style: "view-transition-name: #{dom_id(link, :image)}", class: 'relative mx-auto max-w-full max-h-full flex-shrink-0 rounded-md object-contain', alt: 'link image' %>
            <object>
              <%= link_to link.url, class: 'absolute bottom-2 right-2 bg-gray-600 hover:bg-gray-700 text-white rounded-full p-2', form: { target: '_blank' } do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>
              <% end %>
            </object>
          </div>
        </div>

        <h3 class="mt-6 text-center text-base font-medium text-gray-900">
          <%= link.title %>
        </h3>
        <p class="text-left text-sm text-gray-500 max-md:line-clamp-5 text-ellipsis" style="view-transition-name: <%= dom_id(link, :summary) %>">
          <%= link.summary %>
        </p>
      <% else %>
        <div class="animate-pulse bg-slate-200 mx-auto w-64 h-32 flex-shrink-0 rounded-md"></div>
        <h3 class="mt-6 text-center text-sm font-medium text-gray-900">
          <%= t('.loading') %>
        </h3>
        <p class="text-left text-sm text-gray-500 max-md:line-clamp-5 text-ellipsis">
        </p>
      <% end %>
    <% end %>

    <div class="w-full px-6 sm:px-8 py-3">
      <% if link.user_id == current_user&.id %>
        <%= render 'links/tags', link: %>
      <% end %>
    </div>

    <div class="flex flex-column justify-between items-center px-6 sm:px-8 py-3 text-xs font-normal border-t border-gray-200">
      <div class="flex">
        <span class="text-gray-500">
          <%= relative_time(link.created_at) %>
        </span>
        <% if link.must_read? && link.user_id == current_user&.id %>
          <div class="ml-3 border-l border-gray-200 pl-3">
            <%= link_until_due_date(link.due_date) %>
          </div>
        <% end %>
      </div>

      <div class="relative flex sm:hidden" data-controller="dropdown">
        <button type="button" class="-m-2.5 block p-2.5 text-gray-400 hover:text-gray-500" data-action="dropdown#toggle click@window->dropdown#hide">
          <span class="sr-only">Open options</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
          </svg>
        </button>

        <div class="hidden absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
             data-dropdown-target="menu"
             data-transition-enter-from="opacity-0 scale-95"
             data-transition-enter-to="opacity-100 scale-100"
             data-transition-leave-from="opacity-100 scale-100"
             data-transition-leave-to="opacity-0 scale-95">

          <% if link.user_id == current_user&.id %>
            <% if link.read? %>
              <%= link_to t('.unread'), unread_link_path(link), class: 'block px-4 py-2 text-sm text-gray-700 w-full text-left', data: { turbo_method: :put } %>
            <% else %>
              <%= link_to t('.read'), read_link_path(link), class: 'block px-4 py-2 text-sm text-gray-700 w-full text-left', data: { turbo_method: :put } %>
            <% end %>
            <%= link_to t('.edit'), edit_link_path(link), class: 'block px-4 py-2 text-sm text-gray-700 w-full text-left' %>
            <%= link_to t('.delete'), link_path(link), class: 'block px-4 py-2 text-sm text-gray-700 w-full text-left', data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete') } %>
          <% else %>
            <%= link_to t('.clone_to_my'), clone_link_path(link), class: 'block px-4 py-2 text-sm text-gray-700 w-full text-left', data: { turbo_method: :post } %>
          <% end %>
        </div>
      </div>

      <div class="hidden sm:flex">
        <% if link.user_id == current_user&.id %>
          <% if link.read? %>
            <%= link_to t('.unread'), unread_link_path(link), class: 'text-indigo-600 hover:text-indigo-500', data: { turbo_method: :put } %>
          <% else %>
            <%= link_to t('.read'), read_link_path(link), class: 'text-indigo-600 hover:text-indigo-500', data: { turbo_method: :put } %>
          <% end %>

          <div class="ml-3 border-l border-gray-200 pl-3">
            <%= link_to t('.edit'), edit_link_path(link), class: 'text-indigo-600 hover:text-indigo-500' %>
          </div>
          <div class="ml-3 border-l border-gray-200 pl-3">
            <%= link_to t('.delete'), link_path(link), class: 'text-indigo-600 hover:text-indigo-500', data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete') } %>
          </div>
        <% else %>
          <%= link_to t('.clone_to_my'), clone_link_path(link), class: 'text-indigo-600 hover:text-indigo-500', data: { turbo_method: :post } %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
