<%= turbo_stream_from @link %>

<div class="-mt-0.5 sm:mt-6 flex w-full justify-center">
  <div class="max-w-3xl">
    <%= link_to @link.title, @link.url, target: '_blank', class: 'font-bold text-gray-900 hover:text-gray-700 text-4xl sm:text-5xl leading-normal sm:leading-normal' %>

    <div class="flex flex-row mt-2 text-sm sm:text-base">
      <span class="text-gray-500">
        <%= relative_time(@link.created_at) %>
      </span>
      <% if @link.must_read? && @link.user_id == current_user&.id %>
        <div class="ml-3 border-l border-gray-200 pl-3">
          <%= link_until_due_date(@link.due_date) %>
        </div>
      <% end %>
    </div>

    <% if @link.tags.present? %>
      <div class="mt-2 sm:mt-4">
        <ul class="flex flex-row gap-x-1.5 sm:gap-x-2.5">
          <%= render partial: 'links/tag', collection: @link.tags %>
        </ul>
      </div>
    <% end %>

    <div class="mt-6 sm:mt-12">
      <% if @link.image_url.present? %>
        <%= link_to @link.url do %>
          <%= image_tag @link.image_url, style: "view-transition-name: #{dom_id(@link, :image)}", class: 'rounded-2xl mb-6 w-full h-64 object-contain' %>
        <% end %>
      <% end %>

      <p class="text-gray-500 text-sm sm:text-base">
        <%= link_to @link.summary, @link.url %>
      </p>

      <%= render 'menu', link: @link %>

      <% if @link.user_id == current_user&.id %>
        <%= render @link.record || @link.build_record, link: @link %>
      <% end %>
    </div>
  </div>
</div>
