<nav class="w-full" data-controller="collapse">
  <div class="w-full flex items-center justify-between py-6">
    <div class="flex flex-1">
      <button type="button" class="sm:hidden relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" data-action="click->collapse#toggle">
        <span class="absolute -inset-0.5"></span>
        <span class="sr-only">Open main menu</span>
        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>

      <%= link_to root_path, class: 'hidden sm:flex flex-column p-1.5 -m-1.5' do %>
        <span class="w-8 h-8 mr-2">
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </span>
          <span class="font-semibold text-2xl hidden md:flex">
          TodoRist
        </span>
      <% end %>
    </div>

    <%= link_to root_path, class: 'flex sm:hidden flex-column p-1.5 -m-1.5' do %>
        <span class="w-8 h-8 mr-2">
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </span>
      <span class="font-semibold text-2xl hidden md:flex">
          TodoRist
        </span>
    <% end %>

    <div class="hidden sm:flex sm:gap-x-12 sm:items-center">
      <%= link_to t('layout.header.my_rist'), links_path, class: "text-sm font-semibold leading-6 #{current_page?(controller: 'links', action: 'index') ? 'text-gray-900' : 'text-gray-500 hover:text-gray-700'}" %>
      <%= link_to t('layout.header.others_rist'), others_links_path, class: "text-sm font-semibold leading-6 #{current_page?(controller: 'links', action: 'others') ? 'text-gray-900' : 'text-gray-500 hover:text-gray-700'}" %>
    </div>

    <div class="flex flex-1 justify-end gap-x-6">
      <% if user_signed_in? %>
        <div class="relative" data-controller="dropdown">
          <button type="button" class="relative flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" data-action="dropdown#toggle click@window->dropdown#hide">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>

            <% if current_user.image.present? %>
              <%= image_tag current_user.image, class: 'h-8 w-8 rounded-full' %>
            <% else %>
            <span class="inline-block h-8 w-8 overflow-hidden rounded-full bg-gray-100">
              <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
            </span>
            <% end %>
          </button>

          <div class="hidden absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
               data-dropdown-target="menu"
               data-transition-enter-from="opacity-0 scale-95"
               data-transition-enter-to="opacity-100 scale-100"
               data-transition-leave-from="opacity-100 scale-100"
               data-transition-leave-to="opacity-0 scale-95">
            <%= button_to t('layout.header.sign_out'),
                          destroy_user_session_path,
                          method: :delete,
                          class: 'block px-4 py-2 text-sm text-gray-700 w-full text-left',
                          data: { turbo: false, action: 'dropdown#toggle', confirm: t('layout.header.confirm_sign_out') } %>
            <%= button_to t('layout.header.withdrawal'),
                          user_registration_path,
                          method: :delete,
                          class: 'block px-4 py-2 text-sm text-gray-700 w-full text-left',
                          data: { turbo: false, action: 'dropdown#toggle', confirm: t('layout.header.confirm_withdrawal') } %>
          </div>
        </div>
      <% else %>
        <%= button_to t('layout.header.sign_in'),
                      user_google_oauth2_omniauth_authorize_path,
                      method: :post,
                      class: 'text-base font-semibold leading-6 text-gray-900',
                      data: { turbo: false }
        %>
      <% end %>
    </div>
  </div>

  <div class="hidden sm:hidden flow-root px-2" data-collapse-target="collapse">
    <div class="divide-y divide-gray-500/10 mb-2 -mt-4">
      <%= link_to t('layout.header.my_rist'), links_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-medium leading-7 text-gray-900 hover:bg-gray-50 #{current_page?(controller: 'links', action: 'index') ? 'bg-gray-100' : 'bg-white'}" %>
      <%= link_to t('layout.header.others_rist'), others_links_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-medium leading-7 text-gray-900 hover:bg-gray-50 #{current_page?(controller: 'links', action: 'others') ? 'bg-gray-100' : 'bg-white'}" %>
    </div>
  </div>
</nav>
