<!DOCTYPE html>
<html>
  <head lang="<%= I18n.locale %>">
    <title>TodoRist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container mx-auto px-5 flex max-w-7xl">
      <%= render 'layouts/header' %>
    </header>
    <main class="container mx-auto mt-8 sm:mt-12 px-5 flex max-w-7xl">
      <%= yield %>
    </main>
    <footer class="container mx-auto px-5 flex max-w-7xl">
      <%= render 'layouts/footer' %>
    </footer>

    <%= turbo_frame_tag 'flashes', class: 'pointer-events-none fixed inset-0 flex flex-col items-end px-4 py-6 sm:p-6' do %>
      <%= render 'shared/flash' %>
    <% end%>
  </body>
</html>
