<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>TodoRist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= display_meta_tags site: 'todorist' %>

    <%= favicon_link_tag asset_path('logo_sm.svg') %>
  </head>

  <body>
    <header class="container mx-auto px-5 flex max-w-7xl">
      <%= render 'layouts/header' %>
    </header>
    <main class="container mx-auto mt-8 sm:mt-12 px-5 flex max-w-7xl">
      <%= yield %>
    </main>
    <footer class="container mx-auto px-5 flex max-w-7xl">
      <%= render 'layouts/footer' %>
    </footer>

    <%= turbo_frame_tag 'flashes', class: 'pointer-events-none fixed inset-0 flex flex-col items-end px-4 py-6 sm:p-6' do %>
      <%= render 'shared/flash' %>
    <% end%>

    <script>
      (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

      ChannelIO('boot', {
        "pluginKey": "02a969d0-1d86-4de7-b77a-ecdfe8523be9"
      });
    </script>
  </body>
</html>
