<!DOCTYPE html>
<html>
  <head>
    <title>TodoRist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container mx-auto px-5 flex max-w-7xl">
      <%= render 'layouts/header' %>
    </header>
    <main class="container mx-auto mt-5 px-5 flex max-w-7xl ">
      <%= yield %>
    </main>
  </body>
</html>
